<div class="entry-edit">
    <div class="entry-edit-head"><h4><?php echo Mage::helper('mgcs_loginas')->__('Log In As Customer') ?></h4></div>
    <fieldset>
        <?php if ($this->isSecretConfigured()): ?>
            <ul>
                <?php foreach ($this->getFrontendStores() as $_store): ?>
                    <li>
                        <?php if ($_url = $this->getLoginUrl($_store)): ?>
                            <a href="<?php echo $this->escapeHtml($_url); ?>">
                                <?php echo $this->__('Log In As This Customer in %s', $_store->getName()); ?>
                            </a>
                        <?php else: ?>
                            <?php echo $this->__('Could not determine the login url for %s', $_store->getName()); ?>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        <?php else: ?>
            <?php echo $this->__('You did not set a secret key yet.'); ?><br />
            <a href="<?php echo $this->getUrl('adminhtml/system_config/edit', array('section' => 'customer')); ?>" title="<?php echo $this->__('Change your secret key'); ?>">
                <?php echo $this->__('Click here to change it'); ?>
            </a>
        <?php endif; ?>
    </fieldset>
</div>
